<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Custom Search JSON API</title>
  </head>
  <body>
    <h1>Custom Search JSON API</h1>
    <label for="keyword">input keyword:</label>
    <input type="text" id="keyword" name="keyword" /><br /><br />
    <button type="button" onclick="clean()">Clean</button>
    <button type="button" onclick="search()">Search</button><br /><br />
    <textarea id="content" rows="10" cols="100">
    </textarea><br /><br />
    <button type="button" onclick="download()">download csv</button><br /><br />
    <div id="link"></div>
    <script src="./assets/js/moment.js"></script>
    <script src="./assets/js/sources.js"></script>
    <script>
      clean();
      const keys = [
        '<%=process.env.key %>',
        '<%=process.env.key2 %>',
        '<%=process.env.key3 %>',
        '<%=process.env.key4 %>',
        '<%=process.env.key5 %>',
        '<%=process.env.key6 %>',
        '<%=process.env.key7 %>',
        '<%=process.env.key8 %>',
        '<%=process.env.key9 %>',
        '<%=process.env.key10 %>',
        '<%=process.env.key11 %>',
        '<%=process.env.key12 %>',
        '<%=process.env.key13 %>',
      ];
      let keyIndex = 0;
      const searchEngineId = '<%=process.env.cx %>';
      function json2csv(res) {
        if(!res.items) return
        for (const item of res.items) {
          try{
            let temp = item.pagemap.metatags[0]['article:published_time']
          }catch(err){
            continue
          }
          if(!includeKeyword(item.pagemap.metatags[0])) { continue }
          let publishTime = moment(item.pagemap.metatags[0]['article:published_time'], 'YYYY-MM-DD')
          if(moment().diff(publishTime, 'days') > 1) { continue }
          content.innerHTML +=  moment().subtract(1, 'days').format('yyyy/MM/DD') + ',';
          content.innerHTML += sources[item.displayLink]?sources[item.displayLink]:item.displayLink;
          content.innerHTML += ',';
          content.innerHTML +=
            item.htmlTitle.replace('<b>', '').replace('</b>', '') + ',';
          content.innerHTML += item.link + '\r\n';
        }
      }
      function includeKeyword(tags){
        const query = document.getElementById('keyword').value;
          for(const tag in tags){
            if(tags[tag].includes(query)){
              return true
            }
          }
        return false
      }
      function download() {
        let title = document.getElementById('keyword').value;
        const date = moment().format('yyyyMMDD');
        let csv = document.getElementById('content').value;
        let uri = 'data:text/csv;charset=utf-8,\uFEFF' + encodeURI(csv);
        let link = document.createElement('A');
        link.href = uri;
        link.download = date + '_' + title + '.csv';
        link.click();
      }

      function clean() {
        let content = document.getElementById('content');
        content.innerHTML = '時間,來源,標題,連結\r\n';
        document.getElementById('keyword').value = '';
      }

      async function search() {
        if(document.getElementById('keyword').value.trim() == '') {
            alert('keyword need value!!')
            return
        }
        for await(const url of targetUrls){
          await searchEngine(searchEngineId, url, 1)
        }
      }
      async function searchEngine(cx, targetUrl, startIndex){
        if(keyIndex > keys.length-1) { return } 
        const query = document.getElementById('keyword').value;
        const fromDate = moment().format('yyyyMMDD');
        const toDate = moment().subtract(1, 'days').format('yyyyMMDD');
        let res = await fetch(
          `https://www.googleapis.com/customsearch/v1/?key=${keys[keyIndex]}&cx=${cx}&siteSearch=${targetUrl}&q=${query}&start=${startIndex}&sort=date:r:${toDate}:${toDate}`,
        )
        while(res.status == 429){
          keyIndex++
          if(keyIndex > keys.length-1) {
            alert('429 error! too many requests per day')
            return
          } 
          res = await fetch(
            `https://www.googleapis.com/customsearch/v1/?key=${keys[keyIndex]}&cx=${cx}&siteSearch=${targetUrl}&q=${query}&start=${startIndex}&sort=date:r:${toDate}:${toDate}`,
          )
        }
        const data = await res.json()
        json2csv(data);
        if(data.queries){
            if (data.queries.nextPage) {
                await searchEngine(cx, targetUrl, data.queries.nextPage[0].startIndex);
            }
        }
      }
    </script>
  </body>
</html>
